nav {
    background-color: #333;
    overflow: hidden;
    padding: 6px 200px;
}

nav a {
    color: #FF1493;
    float: right;
    padding: 16px 25px;
    font-size: 20px;
    text-transform: uppercase;
}

nav a:hover {
    background-color: #ddd;
    color: 	#FF69B4;
}

.logo img {
    position: absolute;
    margin-top: 15px;
    margin-left: 200px;
}

#top h3 {
    color: #FF1493;
}

#text {
    margin: 100px 200px;
}

p {
    margin: 20px 0px;
    font-family: 'Courier New', monospace;
    font-size: 17px;
}
 
#middle {
    text-align: center;
    padding: 50px;
}

h1, h2, h3 {
    font-family: 'Andale Mono', monospace;
}

body {
    background-image: url("assets/background.jpg");
    background-size: cover;
}
